<html>
<head>
<title>registration form</title>
</head>

<h2 ALIGN="CENTER">Registration form</h2>
<form action="/register" method="post">
<table border="0" align="center">
<tbody>


<tr>
<td><label for="first_name">first_name: </label></td>
<td><input id="first_name" maxlength="50" name="first_name" type="text" /></td>
</tr>

<tr>
<td><label for="last_name">last_name:</label></td>
<td><input id="last_name" maxlength="50" name="last_name" type="text" /></td>
</tr>

<tr>
<td><label for="email">email: </label></td>
<td><input id="email" maxlength="50" name="email" type="text" /></td>
</tr>

<tr>
<td><label for="password">Password:</label></td>
<td><input id="password" maxlength="50" name="password"
type="password" /></td>
</tr>

<tr>
<td><label for="status">status </label></td>
<td><input id="status" maxlength="50" name="status" type="text" /></td>
</tr>


</tbody>
</table>
 <button maxlength="50" type="submit" href="index">Submit</button>
</form>
</html>